/*
  COLORS:
    TAN: b9aeab
    PURPLE: 816181
    DARK BROWN: 393636
    MAROON: 51342d
    LIGHT BROWN: 513f3d

*/


@font-face {
   font-family: Raleway;
   src: url(fonts/Raleway-Black.ttf);
   font-style: normal;
   font-weight: 900;
}

@font-face {
   font-family: Raleway;
   src: url(fonts/Raleway-Medium.ttf);
   font-style: normal;
   font-weight: 400;
}

body {
  font-family: Raleway;
}

a:link, a:visited{
  color:#231F20;
}

a:hover{
  color:#816181;
}

a:active{
  color:#51342d;
}


h1{
  font-weight: 900;
  color: #231F20;
}

h2{
  font-weight: 400;
  color: #585656;
}

p { /*STYLE BODY COPY HERE*/

}

p a:link{
  text-decoration: underline;
  color: #816181;
}

p a:visited{
  /*color: #585656;*/
  color: #816181;
}

/* DOING THE HEADER HERE */

body:not(.home) .site-header-inner img{
  display: none;
}

#nav_menu-2 li{
  background-color:red;
  display: inline;
  width: 33%;
  float:left;
  text-align:center;
  overflow: hidden;
  height: 200px;
}

#nav_menu-2 li a{
  display: inline;
  padding:0;
  /*position: absolute;
  top:0px;
  height: 100%;*/
}

#nav_menu-2 li a img{
  width: 100%;
  height: auto;
  padding:0;
}

#nav_menu-2 li a span{
  position: absolute;
  z-index: 900;
  top:0px;
  left:0px;
  background-color: white;
  /*line-height: 200px;*/
}

#nav_menu-2 h3.widget-title{
  display: none;
}

@media (max-width:768px) {
  #nav_menu-2 li{
    width: 100%;
  }
}

body {
  position:relative;
  z-index:0;
  background-color: #231F20;
}

.site-header, .site-navigation, .main-content {
  z-index: 100;
  background-color: white;
}

/*.main-content{
  -webkit-box-shadow: 0px 3px 5px 6px #231F20;
  -moz-box-shadow:    0px 3px 5px 6px #231F20;
  box-shadow:         0px 3px 5px 6px #231F20;
}*/

.realFooter {
  width: 100%;
  color: #818181;
  position: relative;
  z-index: -100;
  left:0px;
  height:500px;
}

.realFooterContent{
  position: fixed;
  color: white;
  width: 100%;
  z-index: -50;
  bottom: 0px;
}

.realFooterContent h1, .realFooterContent h2 {
  color: #818181;
}

.realFooterContent a:link, .realFooterContent a:visited{
  color: #818181;
  text-decoration: underline;
}

.realFooterContent a:hover, .realFooterContent a:active{
  color: #816181;
  text-decoration: underline;
}

#colophon{
  display: none;
}
